<div class="container form-group text-center bg-white p-0">
    <div class="bg-light pb-2">
        <h5 class="text-center mt-2">Add new user</h5>
    </div>
    <div class="col-6 m-auto">
    <form class="form-control newform" id="form_newuser">
        <div class="mb-3">
            <label for="firstname" class="form-label"><strong>First name</strong></label>
            <br>
            <input type="text" class="form-control field_yellow i_firstname" required id="firstname" placeholder="Enter first name"/>
            <div class = "messageuserName"></div>
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label"><strong>Last name</strong></label>
            <br>
            <input type="text" class="form-control field_yellow i_lastname" required id="lastname" placeholder="Enter last name"/>
            <div class = "messageuserLastname"></div>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label"><strong>Age</strong></label>
            <br>
            <input type="number" class="form-control field_yellow i_age" required id="age" placeholder="Enter your age"/>
            <div class = "messageuserAge"></div>
        </div>
        <div class="mb-3">
            <label for="emailuser" class="form-label"><strong>Email</strong></label>
            <br>
            <input type="email" class="form-control field_yellow i_emailuser" required id="emailuser" placeholder="Enter your email"/>
            <div class="messageuserMail"></div>
        </div>
        <div class="mb-3">
            <label for="passworduser" class="form-label"><strong>Password</strong></label>
            <br>
            <input type="password" class="form-control field_yellow i_passworduser" required id="passworduser" placeholder="Enter your password"/>
        </div>
        <div  class="pb-3">
            <label for="userroles"><strong>Role</strong></label>
            <select multiple class="form-control text-center i_userroles" id="userroles" size="2">
                <option value="ROLE_ADMIN">ADMIN</option>
                <option value="ROLE_USER">USER</option>
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-success button_new_user" type="submit">Add new user</button>
        </div>
        </form>
    </div>
</div>